.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #2d3250;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    width: auto;
    height: 2.5rem;

    &:hover {
        border-bottom: 0.3rem solid #F7B176;
        ;
    }
}

.logo {
    width: 3.5rem;
    margin-left: 1.7rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}